<div class="container sub-page">
    <h1>Dates &amp; Times</h1>
            <div class="col-sm-12 calendar-section">
            <span class="event-dates-header"><h1>Event Dates</h1></span><br><br>
            <span class="event-dates"><h1>Oct 4 - Nov 2</h1></span><br><br>
            <button class="btn btn-primary spooky-button">
                <p>Event Calendar <i class="far fa-calendar-alt"></i></p>
            </button>
        </div>
</div>
<br><br>
<div class="container-fluid warning">
    <h1>Warning</h1>
    <h2><%= phrase('warning-body') %></h2>
</div>
<br><br>

    <div class="container seo-blurb">
        <h1>Baltimore, Maryland's Scariest Haunted House</h1>
        <h2><%= phrase('home-page-blurb-1-heading') %></h2>
        <p><%= phrase('home-page-blurb-1-body') %></p>
        <br><br>
        <h2><%= phrase('home-page-blurb-2-heading') %></h2>
        <p><%= phrase('home-page-blurb-2-body') %></p>
        <br><br>
        <h2><%= phrase('home-page-blurb-3-heading') %></h2>
        <p><%= phrase('home-page-blurb-3-body') %></p>
    </div>