<div class="container sub-page directions-page">
    <h1>Directions</h1>
    
    <div id="map"></div>
    <div class="written-directions">
    <br>
        <h2>Parking</h2>
        <p>Free parking is available at 450 Mott St. Baltimore, MD</p>
    
        <h2>From I-95 South</h2>
            <ul>
                <li><p>Take 95 North to Exit 53 for 395 N toward Downtown/Inner Harbor</p></li>
                <li><p>Turn right onto Conway St.</p></li>
                <li><p>Make a left onto Light St.</p></li>
                <li><p>Make a right onto Pratt St.</p></li>
                <li><p>Left on Gay St.</p></li>
                <li><p>Continue straight on Ensor St.</p></li>
                <li><p>Turn right on Ensor St.</p></li>
                <li><p>Parking is on your right</p></li>
            </ul>
    
            <h2>From I-95 North</h2>
            <ul>
                <li><p>Take 95 South exit 62 for Moravia Rd/895 S toward Baltimore Harbor Tunnel </p></li>
                <li><p>Keep left at the fork to continue toward Moravia Rd</p></li>
                <li><p>Make a left onto Light St.</p></li>
                <li><p>Turn left onto Moravia Rd</p></li>
                <li><p>Use the right lane to take the ramp onto US-40 W</p></li>
                <li><p>Merge onto US-40 W</p></li>
                <li><p>Turn right at Colvin St</p></li>
                <li><p>Turn right at Colvin St</p></li>
                <li><p>Turn right on Mott St</p></li>
            </ul>
    
        <h2>From I-83</h2>
            <ul>
                <li><p>Take 83 South towards Baltimore</p></li>
                <li><p>Take exit 3 for Guilford Avenue</p></li>
                <li><p>Turn left onto E Centre St</p></li>
                <li><p>Continue onto E Monument St</p></li>
                <li><p>Turn right onto Hillen St</p></li>
                <li><p>Turn left onto Mott St</p></li>
            </ul>
    </div>

</div>


<div class="container-fluid warning">
    <h1>Warning</h1>
    <h2><%= phrase('warning-body') %></h2>
</div>
<br><br>

    <div class="container seo-blurb">
        <h1>Baltimore, Maryland's Scariest Haunted House</h1>
        <h2><%= phrase('home-page-blurb-1-heading') %></h2>
        <p><%= phrase('home-page-blurb-1-body') %></p>
        <br><br>
        <h2><%= phrase('home-page-blurb-2-heading') %></h2>
        <p><%= phrase('home-page-blurb-2-body') %></p>
        <br><br>
        <h2><%= phrase('home-page-blurb-3-heading') %></h2>
        <p><%= phrase('home-page-blurb-3-body') %></p>
    </div>

