<div class="container sub-page">
    <h1>Directions</h1>
            <div class="col-sm-12 map-section">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3087.617996726602!2d-76.60505958499256!3d39.29691297951097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c8048f6264945f%3A0x423340fda3926ce3!2sThe+Nevermore+Haunt!5e0!3m2!1sen!2sus!4v1557804500873!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    <br>
        <p>Parking is available at 450 Mott St. Baltimore, MD</p>
</div>

<br><br>
<div class="container-fluid warning">
    <h1>Warning</h1>
    <h2><%= phrase('warning-body') %></h2>
</div>
<br><br>

    <div class="container seo-blurb">
        <h1>Baltimore, Maryland's Scariest Haunted House</h1>
        <h2><%= phrase('home-page-blurb-1-heading') %></h2>
        <p><%= phrase('home-page-blurb-1-body') %></p>
        <br><br>
        <h2><%= phrase('home-page-blurb-2-heading') %></h2>
        <p><%= phrase('home-page-blurb-2-body') %></p>
        <br><br>
        <h2><%= phrase('home-page-blurb-3-heading') %></h2>
        <p><%= phrase('home-page-blurb-3-body') %></p>
    </div>
