  <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CFWQG4"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
<section id="page-banner" class="bg-image">
    <%= image_tag("video-poster.png", :class => "video-replacement") %>
    <!--<div class="video_wrap" ><div id="player"><%= video_tag "trailer_lg.mp4", poster: "video-poster.png", controls: false, autoplay: true, muted: true, loop: true %></div>
        
    <div id="player-gif"><%= video_tag "trailer_sm.mp4", poster: "video-poster.png", controls: false, autoplay: true, muted: true, loop: true, playsinline: true, :id => 'video' %></div>
         
    </div>-->
</section>
<section class="container-fluid">
    <div class="container-fluid tag-line non-overlay-bottom">
        <div class="col-12 tag-line-col" id="hide">
            <h1><span class="tag-line">Maryland's Scariest Haunted House</span></h1>
            <span class="social-icon"><a href="https://www.facebook.com/thenevermorehaunt/" target="_blank"><i class="fab fa-facebook"></i></a>   <a href="https://twitter.com/nevermorebmore" target="_blank"><i class="fab fa-twitter-square"></i></a>   <a href="https://www.instagram.com/nevermore.baltimore/" target="_blank"><i class="fab fa-instagram"></i></a></span>
        </div>
    </div>
</section>

<div class="container-fluid featured-on">
    <h1>Featured On:</h1>
    <div class="row">
        <div class="col-4 col-md-2">
            <a class="featured-on-link" href="http://www.hauntjunkies.com/reviews/The%20Nevermore%20Haunt%202017" target="_blank"><%= image_tag("haunt-junkies.png", :class => "featured-on-logo") %></a>
        </div>
                <div class="col-4 col-md-2">
            <a class="featured-on-link" href="http://www.hauntreviewcrew.com/2018-reviews" target="_blank"><%= image_tag("hauntreviewcrew.jpg", :class => "featured-on-logo") %></a>
        </div>
        <div class="col-4 col-md-2">
            <a class="featured-on-link" href="https://baltimorefishbowl.com/stories/nevermore-haunt-bringing-scares-light-city-2018/" target="_blank"><%= image_tag("baltimore-fishbowl.png", :class => "featured-on-logo") %></a>
        </div>
        <div class="col-4 col-md-2">
            <a class="featured-on-link" href="https://www.98online.com/tag/nevermore/" target="_blank"><%= image_tag("98-rock.png", :class => "featured-on-logo") %></a>
        </div>
        <div class="col-4 col-md-2">
            <a class="featured-on-link" href="https://www.baltimoresun.com/maryland/baltimore-city/bs-md-ci-kelly-column-haunted-20161021-column.html" target="_blank"><%= image_tag("The-Baltimore-Sun-Logo.png", :class => "featured-on-logo") %></a>
        </div>
        <div class="col-4 col-md-2">
            <a class="featured-on-link" href="https://www.youtube.com/watch?v=g8DzHT1nw8E" target="_blank"><%= image_tag("WMAR_2018_logo.png", :class => "featured-on-logo") %></a>
        </div>
    </div>

</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%= image_tag("fast-pass-carousel.jpg", :class => "d-block w-100 left-ad") %>
                    </div>
                   <div class="carousel-item">
                        <%= image_tag("trailer.jpg", :class => "d-block w-100 left-ad") %>
                       <div class="carousel-overlay trailer-overlay"><h2>Watch Our</h2><h1><a href="https://youtu.be/KUqKjbY1I50" target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i></a></h1>
                        <h2>2019 Trailer</h2>
                            </div>
                        </div>
                    <div class="carousel-item">
                        <%= image_tag("sideshow.jpg", :class => "d-block w-100 left-ad") %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 calendar-section">
            <h1><span class="event-dates-header">Dates</span></h1><br>
            <h1><span class="event-dates">Oct 4 - Nov 2</span></h1><br>
            <button onclick="window.location.href = '/tickets';" class="btn btn-primary spooky-button">
                Calendar <i class="far fa-calendar-alt"></i>
            </button>
        </div>
        <div class="col-12 col-lg-4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%= image_tag("history-carousel.jpg", :class => "d-block w-100 right-ad") %>
                        <div class="carousel-overlay history-overlay"><h1>130 Years<br> of History</h1>
                        <h2>Circa 1889</h2>
                            <p><a href="/history">Click Here to Learn More</a></p></div>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag("food_drink.jpg", :class => "d-block w-100 right-ad") %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag("raven-gear.jpg", :class => "d-block w-100 right-ad") %>
                        <div class="carousel-overlay waiver-overlay"><h1>WARNING:<br>Not for the Faint of Heart</h1>
                            <p>Read the <a href="/waiver">Waiver</a> First!</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="tickets" class="container-fluid">
    <h1 class="section-heading">Tickets</h1>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>General Admission
                    <button onclick="window.location.href = '/tickets';"  class="btn btn-primary spooky-button ticket-button">
                    Buy <i class="fas fa-ticket-alt"></i>
                    </button></h2>

                <p>General Admission to the The Nevermore Haunt</p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p>Thurs &amp; Sundays</p></div>
                <h2>$22</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p>Fridays</p></div>
                <h2>$25</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p>Sat &amp; Halloween</p></div>
                <h2>$30</h2>
            </div>
        </div>
    </div>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>Fast Pass Admission <button onclick="window.location.href = '/tickets';" class="btn btn-primary spooky-button ticket-button">
                    Buy <i class="fas fa-ticket-alt"></i>
                    </button></h2>

                <p>Skip to the front of the line with Fast Pass Admission</p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p>Thurs &amp; Sundays</p></div>
                <h2>$29</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p>Fridays</p></div>
                <h2>$32</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p>Sat &amp; Halloween</p></div>
                <h2>$40</h2>
            </div>
        </div>
    </div>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>VIP Admission <button onclick="window.location.href = '/tickets';" class="btn btn-primary spooky-button ticket-button">
                    Buy <i class="fas fa-ticket-alt"></i>
                    </button></h2>

                <p>VIP Admission to The Nevermore Haunt! Includes fast-pass admission, one drink from the bar and a food voucher</p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p>Thurs &amp; Sundays</p></div>
                <h2>$45</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p>Fridays</p></div>
                <h2>$48</h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p>Sat &amp; Halloween</p></div>
                <h2>$56</h2>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid contact-section">


    <!-- Mail Chimp Contact Form -->
    <div class="contact-form-wrapper">
        <div id="mc_embed_signup">
            <form action="https://engineeredfear.us3.list-manage.com/subscribe/post?u=fa11ebc0b4b860485ec38569b&amp;id=f74a223bf1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <h2>Subscribe to our mailing list <i class="fas fa-envelope"></i></h2>
                    <p>Get the latest news about The Nevermore Haunt and have a chance to win FREE tickets!</p>
                    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                        </label>
                        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-FNAME">First Name </label>
                        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                    </div>
                    <div class="mc-field-group">
                        <label for="mce-LNAME">Last Name </label>
                        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fa11ebc0b4b860485ec38569b_f74a223bf1" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>
    </div>

    <!--End mc_embed_signup-->

</div>
<br><br>
<div class="container seo-blurb">
    <h1>Baltimore, Maryland's Scariest Haunted House</h1>
    <h2>THE MOST UNIQUE AND SCARIEST HAUNTED HOUSE IN MARYLAND</h2>
    <p>Consistently among the highest rated haunted houses in Maryland, The Nevermore Haunt is a haunted attraction unlike any other you’ve ever experienced. Open 15 nights in October, The Nevermore Haunt offers bizarre and over-the-top sideshow performances nightly, an on-site bar serving local craft beers, on site concessions and a haunted house filled with monsters, demons, and ghouls straight from your deepest, darkest fears. Expertly crafted, The Nevermore Haunt is an ever changing and developing Halloween attraction that transports you directly into sordid, macabre visions of Baltimore’s past. Come experience the most realistic and unique haunted house in Baltimore.</p>
    <br><br>
    <h2>A MARYLAND HAUNTED HOUSE UNLIKE ANY OTHER</h2>
    <p>Ever think to yourself, “Why are all the haunted houses near me exactly the same?” Not here! Historically themed and Baltimore inspired, The Nevermore Haunt is unlike any of the other haunted houses in Maryland. Located in the heart of Baltimore Maryland, this unique event takes its inspiration from the city’s own sordid, dark past. Set in late 19th century Baltimore you’ll encounter a macabre menagerie of specters and spirits; drowned sailors, tortured factory workers, unlicensed physicians, street urchins and mysterious creatures that defy description! With an emphasis on interactive performance and immersive sets The Nevermore Haunt strives to create a Halloween event that is equal parts terrifying and entertaining for all guests. Perfect for those trembling in terror at the mere thought of entering to the most courageous, unflinching haunted house aficionados. The Nevermore Haunt is a truly Baltimore haunted house.</p>
    <br><br>
    <h2>THE MOST CONVENIENTLY LOCATED HAUNTED HOUSE IN MARYLAND</h2>
    <p>This October Baltimore is THE place to get your Halloween thrills. Where else can you visit Maryland’s scariest haunted house, see bizarre sideshow performers, eat great food and drink local craft beers without driving for hours? Located near the heart of downtown Baltimore, The Nevermore Haunt is easily accessible from I-83, I-95.</p>
</div>

<div class="container-fluid warning">
    <h1>Warning</h1>
    <h2>THE NEVERMORE HAUNT IS NOT FOR THE FAINT OF HEART. CHILDREN UNDER 4 FEET TALL WILL NOT BE ADMITTED, CHILDREN UNDER 16 MAY ENTER ONLY WITH AN ADULT GUARDIAN. READ THE RULES AND WARNINGS BEFORE PURCHASING YOUR TICKET. ALL SALES ARE FINAL.</h2>
</div>