        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CFWQG4"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

<div class="container-fluid sub-page">
    <div class="hide-in-ie"><h1>Select a date to purchase</h1></div>
    <div class="show-in-ie"><h1>Click <a href="https://app.hauntpay.com/events/the-nevermore-haunt-2019/event_times">HERE</a> to purchase tickets</h1></div>
 <div class="row" id="tickets-sub">
    <div class="col-12 col-lg-6">
        <div class="event-calendar">
        <h2>October - November, 2019</h2>
        <div class="cal-row row">
            <div class="cal-day col">
                <p>Sun</p>
            </div>
            <div class="cal-day col">
                <p>Mon</p>
            </div>
            <div class="cal-day col">
                <p>Tue</p>
            </div>
            <div class="cal-day col">
                <p>Wed</p>
            </div>
            <div class="cal-day col">
                <p>Thu</p>
            </div>
            <div class="cal-day col">
                <p>Fri</p>
            </div>
            <div class="cal-day col">
                <p>Sat</p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col col-early" id="widget-trigger-event-time-552975"><p>4</p>
            </div>
            <div class="cal-col col col-early" id="widget-trigger-event-time-552981">
                <p>5</p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col col-early" id="widget-trigger-event-time-552977">
                <p>11</p>
            </div>
            <div class="cal-col col col-late" id="widget-trigger-event-time-552982">
                <p>12</p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col col-late" id="widget-trigger-event-time-552978">
                <p>18</p>
            </div>
            <div class="cal-col col col-late" id="widget-trigger-event-time-552983">
                <p>19</p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col col-early" id="widget-trigger-event-time-552986">
                <p>20</p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col col-early" id="widget-trigger-event-time-552989">
                <p>24</p>
            </div>
            <div class="cal-col col col-late" id="widget-trigger-event-time-552979">
                <p>25</p>
            </div>
            <div class="cal-col col col-late" id="widget-trigger-event-time-552984">
                <p>26</p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col col-early" id="widget-trigger-event-time-552987">
                <p>27</p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col col-late" id="widget-trigger-event-time-552990">
                <p>31</p>
            </div>
            <div class="cal-col col col-late" id="widget-trigger-event-time-552980">
                <p>1</p>
            </div>
            <div class="cal-col col col-early" id="widget-trigger-event-time-552985">
                <p>2</p>
            </div>
        </div>
        <div class="cal-row row">
            <div class="cal-col col col-early" id="widget-trigger-event-time-552988">
                <p>3</p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
            <div class="cal-col col">
                <p></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row times-row">
            <div class="col times-col early-col">
                <p>7pm-10pm</p>
            </div>
            <div class="col times-col late-col">
                <p>7pm-Midnight</p>
            </div>
        </div>
    </div>
    </div>  
    
 
    

    <div class="col-12 col-lg-6">
        <br><br>
    <h2>Ticket Options &amp; Pricing</h2> <br>
      <div>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>General Admission </h2>

                <p><%= phrase('general-admission-description') %></p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p><%= phrase('GA-discount-price-heading') %></p></div>
                <h2><%= phrase('GA-discount-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><span class="friday"><p><%= phrase('GA-standard-price-heading') %></p></span></div>
                <h2><%= phrase('GA-standard-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p><%= phrase('GA-premium-price-heading') %></p></div>
                <h2><%= phrase('GA-premium-price') %></h2>
            </div>
        </div>
    </div>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>Fast Pass Admission</h2>

                <p><%= phrase('fast-pass-admission-description') %></p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p><%= phrase('fast-pass-discount-price-heading') %></p></div>
                <h2><%= phrase('fast-pass-discount-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><span class="friday"><p><%= phrase('fast-pass-standard-price-heading') %></p></span></div>
                <h2><%= phrase('fast-pass-standard-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p><%= phrase('fast-pass-premium-price-heading') %></p></div>
                <h2><%= phrase('fast-pass-premium-price') %></h2>
            </div>
        </div>
    </div>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>VIP Admission </h2>

                <p><%= phrase('vip-admission-description') %></p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p><%= phrase('vip-discount-price-heading') %></p></div>
                <h2><%= phrase('vip-discount-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><span class="friday"><p><%= phrase('vip-standard-price-heading') %></p></span></div>
                <h2><%= phrase('vip-standard-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline tickets-page"><p><%= phrase('vip-premium-price-heading') %></p></div>
                <h2><%= phrase('vip-premium-price') %></h2>
            </div>
        </div>
    </div>
</div>

</div>

    
    
    </div>
     
     
 </div>
    
    


<div class="container-fluid warning">
    <h1>Warning</h1>
    <h2><%= phrase('warning-body') %></h2>
</div>
<br><br>
<div class="container seo-blurb">
    <h1>Baltimore, Maryland's Scariest Haunted House</h1>
    <h2><%= phrase('home-page-blurb-1-heading') %></h2>
    <p><%= phrase('home-page-blurb-1-body') %></p>
    <br><br>
    <h2><%= phrase('home-page-blurb-2-heading') %></h2>
    <p><%= phrase('home-page-blurb-2-body') %></p>
    <br><br>
    <h2><%= phrase('home-page-blurb-3-heading') %></h2>
    <p><%= phrase('home-page-blurb-3-body') %></p>
</div>

