<div class="container-fluid sub-page">
<div id="tickets">
    <h1 class="section-heading">Tickets</h1>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>General Admission <button class="btn btn-primary spooky-button ticket-button">
                    <h2>Buy <i class="fas fa-ticket-alt"></i></h2>
                    </button></h2>

                <p><%= phrase('general-admission-description') %></p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p><%= phrase('GA-discount-price-heading') %></p></div>
                <h2><%= phrase('GA-discount-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p><%= phrase('GA-standard-price-heading') %></p></div>
                <h2><%= phrase('GA-standard-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p><%= phrase('GA-premium-price-heading') %></p></div>
                <h2><%= phrase('GA-premium-price') %></h2>
            </div>
        </div>
    </div>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>Fast Pass Admission <button class="btn btn-primary spooky-button ticket-button">
                    <h2>Buy <i class="fas fa-ticket-alt"></i></h2>
                    </button></h2>

                <p><%= phrase('fast-pass-admission-description') %></p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p><%= phrase('fast-pass-discount-price-heading') %></p></div>
                <h2><%= phrase('fast-pass-discount-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p><%= phrase('fast-pass-standard-price-heading') %></p></div>
                <h2><%= phrase('fast-pass-standard-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p><%= phrase('fast-pass-premium-price-heading') %></p></div>
                <h2><%= phrase('fast-pass-premium-price') %></h2>
            </div>
        </div>
    </div>
    <div class="row ticket-row">
        <div class="col-12 col-md-6 ticket-chart ticket-descrition">
            <div class="ticket-description">
                <h2>VIP Admission <button class="btn btn-primary spooky-button ticket-button">
                    <h2>Buy <i class="fas fa-ticket-alt"></i></h2>
                    </button></h2>

                <p><%= phrase('vip-admission-description') %></p>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p><%= phrase('vip-discount-price-heading') %></p></div>
                <h2><%= phrase('vip-discount-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p><%= phrase('vip-standard-price-heading') %></p></div>
                <h2><%= phrase('vip-standard-price') %></h2>
            </div>
        </div>
        <div class="col-4 col-md-2 ticket-chart">
            <div class="ticket-price">
                <div class="ticket-price-underline"><p><%= phrase('vip-premium-price-heading') %></p></div>
                <h2><%= phrase('vip-premium-price') %></h2>
            </div>
        </div>
    </div>
</div>

</div>

<br><br>
<div class="container-fluid warning">
    <h1>Warning</h1>
    <h2><%= phrase('warning-body') %></h2>
</div>
<br><br>
<div class="container seo-blurb">
    <h1>Baltimore, Maryland's Scariest Haunted House</h1>
    <h2><%= phrase('home-page-blurb-1-heading') %></h2>
    <p><%= phrase('home-page-blurb-1-body') %></p>
    <br><br>
    <h2><%= phrase('home-page-blurb-2-heading') %></h2>
    <p><%= phrase('home-page-blurb-2-body') %></p>
    <br><br>
    <h2><%= phrase('home-page-blurb-3-heading') %></h2>
    <p><%= phrase('home-page-blurb-3-body') %></p>
</div>
