<div class="container sub-page">
    <h1>Photos</h1>
    <div class="row">
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("patient.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("witch.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("reaper.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("lady.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("pajama-man.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("butchers.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("doctor.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("janus.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("zombie.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("cthulu.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("raven.jpg", :class => "featured-photo") %>
        </div>
        <div class="col-sm-6 col-lg-3 photo-section">
            <%= image_tag("judge.jpg", :class => "featured-photo") %>
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid warning">
    <h1>Warning</h1>
    <h2><%= phrase('warning-body') %></h2>
</div>
<br><br>

    <div class="container seo-blurb">
        <h1>Baltimore, Maryland's Scariest Haunted House</h1>
        <h2><%= phrase('home-page-blurb-1-heading') %></h2>
        <p><%= phrase('home-page-blurb-1-body') %></p>
        <br><br>
        <h2><%= phrase('home-page-blurb-2-heading') %></h2>
        <p><%= phrase('home-page-blurb-2-body') %></p>
        <br><br>
        <h2><%= phrase('home-page-blurb-3-heading') %></h2>
        <p><%= phrase('home-page-blurb-3-body') %></p>
    </div>
